.inicio {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2.5rem;
font-display: rgb(194, 176, 218);
font-stretch: semi-expanded;
color: rgb(88, 32, 153);
font-style: bold;
text-align: center;
margin-top: 50px;
}

.general {
background-color: rgba(174, 134, 196, 0.671);

}

.logo {
    background-image: url(../images/logo.jpg);
    background-position: center;
    width: 600px;
    height: 600px;
    border-radius: 5000%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
        overflow: hidden;
        background-color: #edebe1;
        font-size: 1.5rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        padding: 20px;
        margin: 10px;
        border-bottom: 1px solid black;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        }     

 .grid-container {
    display: grid;
    column-gap: 50px
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr)
    justify-content: start;

}

.grid-item1 {
    background-image: url(../images/celtas.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: stretch;

}

.grid-item2 {
    background-image: url(../images/TRADICIONAL.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: stretch;
}

.grid-item3 {
    background-image: url(../images/NuevaEscuela.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: stretch;
}

.grid-item4 {
    background-image: url(../images/realismo.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: stretch;
}

.grid-item5 {
    background-image: url(../images/orientales.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: stretch;
    }

.grid-item6 {
    background-image: url(../images/surrealismo.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: stretch;
}



@media screen and (min-width: 468px) {
    .body {
            background-color: #000000;
      }
    }

.formulario {
    display: flex;
    flex-direction: column; 
    flex-wrap: no-wrap; 
    justify-content: flex-start;
}


.fotoperfil {
    order: 1;
    background-color: rgb(222, 194, 224);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.nombre {
    order: 2;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;
}

.email {
    order: 3;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.cel {
    order: 4;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.password {
    order: 5;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;
}

.yesorno {
    order: 7;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.nombreartista {
    order: 8;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;

}

.web {
    order: 9;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;


}

.localizacion {
    order: 10;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;


}

.estilo {
    order: 11;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;
}

.submit {
    order: 12;
    background-color: rgb(221, 190, 221);
    font-size: 1.rem;
    font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline;
}

.reset {
    order: 13;
    background-color: rgb(221, 190, 221);
    font-size: 1rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    display: inline;
}


.footer {
    background-position: center;
    border-top: 1px solid rgb(224, 216, 216);
    background-color: rgb(162, 103, 238);
    text-align: center;
    font-size: 2rem;
    width: auto;
    margin: auto;
    padding: auto;
    display: block;
}


  .topnav a {
    display: inline-block;
    color: #3e177ce7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

    .topnav input {
        display:block;
        width: 100%;
        }

    .topnav div {
            display:block;
            width: 100%;
            }


.publicar {
    background-color: rgb(131, 221, 149);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block;
}

.nombre1 {

    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block;  
}

.mensaje {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 400px;
    margin: 10px;
    padding: 100px;
    margin-left: 50px;
    display: block   
}




#grilla {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas:
    "formulario botones mitablero mitablero";
    justify-content: start;
 }
 
.form {
    grid-area: formulario;
    background-color: rgb(244, 244, 244);
    font-size: 1.25rem;
    padding: 10px;
    justify-self: stretch;  
    order: 1;
    }

.botones {
    grid-area: botones;
    background-color: rgb(244, 244, 244);
    order: 2;
    justify-items: start;
}

.conex1 {
    grid-area: formulario;
    background-color: rgb(229, 108, 22);
    padding: 30px;
    font-size: 1.25rem;
    margin: 20px;  
}

.conex {
    grid-area: formulario;
    grid-area: formulario;
    background-color: rgb(212, 172, 142);
    font-size: 1rem;
    margin: 20px;
    align-items: flex-start;
}

.mitablero {
    grid-area: mitablero;
    background-color: rgb(196, 223, 147);
    font-size: 2rem;
    padding: 450px;
    border: 1px solid black;
    justify-self: stretch;
    order: 3;
    }

.enviarmsj {
    grid-area: botones;
    background-color: rgb(229, 229, 157);
    font-size: 1.25rem;
    font-palette: black; 
    margin: 20px;
    align-items: flex-start;
}

.conectar {
    grid-area: botones;
    background-color: rgb(229, 229, 157);
        font-size: 1.25rem;
        font-palette: black; 
        margin: 20px;
        align-items: flex-start;      
        }

.publicar2 {
     grid-area: botones;
     background-color: rgb(229, 229, 157);
     font-size: 1.25rem;
      font-palette: rgb(5, 5, 5);  
      margin: 20px;
      align-items: flex-start;
    }
    
.misartistas {
    grid-area: misartistas;
    background-color: rgb(216, 239, 243);
    font-size: 1.25rem;
    font-palette: rgb(5, 5, 5);  
}

.opiniones {
    grid-area: opiniones;
    background-color: rgb(216, 239, 243);
    font-size: 1.25rem;
    font-palette: rgb(5, 5, 5);
    }






.nombre2 {
    background-color: rgb(248, 239, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-top: 50PX;
    margin-left: 50px;
    display: block; 
 }

 .email2 {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .localizacion2 {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .estilo2 {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .logoimagen {
   background-color: rgb(172, 215, 243);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .nombre3 {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }

  .contacto {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }

  .estilos {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }

  .Opiniones {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }


.iniciarchat {
    font-size: 1.25rem;
    font-palette: black;
    background-color: #c5abe2;
}

.pregunta {
    background-color: rgb(238, 200, 200);
    font-size: 1.25rem;
     font-palette: black;
     width: 400px;
    margin: 10px;
    padding: 10px;
    margin-left: 200px;
    margin-top: 30px;
    display: block;
}

.respuesta {
    background-color: rgb(200, 224, 238);
    font-size: 1.25rem;
     font-palette: black;
     width: 700px;
    margin: 10px;
    padding: 20px;
    margin-left: 200px;
    display: block;

}