.inicio {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2rem;
font-display: rgb(62, 5, 136);
font-stretch: semi-expanded;
color: rgb(88, 32, 153);
font-style: bold;
text-align: center;
margin-top: 50px;
}


.logo {
    background-image: url(../images/logo.jpg);
    background-position: center;
    width: 600px;
    height: 600px;
    border-radius: 5000%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.topnav {
        overflow: hidden;
        background-color: #c5abe2;
        font-size: 1.5rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        padding: 20px;
        margin: 10px;
        color: #3e177ce7;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        }     

.general {
background-color: rgb(211, 242, 255);
}

 .grid-container {
    display: grid;
    column-gap: 100px
    row-gap: 100px;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr)
    justify-content: start;

}


.grid-item1 {
    background-image: url(../images/celtas.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: center;
}

.grid-item2 {
    background-image: url(../images/TRADICIONAL.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: center;
}

.grid-item3 {
    background-image: url(../images/NuevaEscuela.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: center;
}

.grid-item4 {
    background-image: url(../images/realismo.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: center;
}

.grid-item5 {
    background-image: url(../images/orientales.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: center;
}

.grid-item6 {
    background-image: url(../images/SURREALISMO.jpg);
    background-position: center;
    margin: 200px;
    padding: 200px;
    border-style: ridge;
    align-items: center;
}



@media screen and (min-width: 468px) {
    .body {
            background-color: #000000;
      }
    }

.formulario {
    display: flex;
    flex-direction: column; 
    flex-wrap: no-wrap; 
    justify-content: flex-start;
}


.fotoperfil {
    order: 1;
    background-color: rgb(222, 194, 224);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.nombre {
    order: 2;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;
}

.email {
    order: 3;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.cel {
    order: 4;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.password {
    order: 5;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;
}

.yesorno {
    order: 7;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline-block;

}

.nombreartista {
    order: 8;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;

}

.web {
    order: 9;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;


}

.localizacion {
    order: 10;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;


}

.estilo {
    order: 11;
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 100px;
    display: inline-block;
}

.submit {
    order: 12;
    background-color: rgb(221, 190, 221);
    font-size: 1.rem;
    font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: inline;
}

.reset {
    order: 13;
    background-color: rgb(221, 190, 221);
    font-size: 1rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    display: inline;
}


.footer {
    background-position: center;
    text-align: center;
    font-size: 2rem;
    width: auto;
    margin: auto;
    padding: auto;
    display: block;
}


  .topnav a {
    display: inline-block;
    color: #3e177ce7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

    .topnav input {
        display:block;
        width: 100%;
        }

    .topnav div {
            display:block;
            width: 100%;
            }


.publicar {
    background-color: rgb(131, 221, 149);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block;
}

.nombre1 {

    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block;  
}

.mensaje {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
    font-palette: black;
    width: 400px;
    margin: 10px;
    padding: 100px;
    margin-left: 50px;
    display: block   
}


#grilla {
    display: grid;
    grid-template-areas:
      "enviarmsj"
      "conectar"
      "publicar"
      "conexiones"
      "misartistas"
      "opiniones"
      "mitablero";
    grid-template-rows: 6fr 5fr 4fr 3fr 2fr 1fr 900px; 
    grid-template-columns: 2fr;
 }
 .border {
    border: 1px solid black;
 }
   



.enviarmsj {
    grid-area: enviarmsj;
    background-color: rgb(224, 146, 224);
    font-size: 1.25rem;
    font-palette: black;
    }

.conectar {
    grid-area: conectar;
        background-color: rgb(21, 184, 212);
        font-size: 1.25rem;
        font-palette: black;       
        }

.dejatuopinion {
    background-color: rgb(226, 232, 233);
    font-size: 1.25rem;
    font-palette: rgb(5, 5, 5);
    width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block;
    }

.publicar {
     grid-area: publicar;
     background-color: rgb(216, 239, 243);
     font-size: 1.25rem;
      font-palette: rgb(5, 5, 5);    
    }
    
.misartistas {
    grid-area: misartistas;
    background-color: rgb(216, 239, 243);
    font-size: 1.25rem;
    font-palette: rgb(5, 5, 5);  
}

.opiniones {
    grid-area: opiniones;
    background-color: rgb(216, 239, 243);
    font-size: 1.25rem;
    font-palette: rgb(5, 5, 5);
    }

.MiTablero {
    grid-area: mitablero;
    background-color: rgb(196, 223, 147);
    font-size: 2rem;
    font-palette: black;
    text-align: center;
    }




.nombre2 {
    background-color: rgb(248, 239, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-top: 50PX;
    margin-left: 50px;
    display: block; 
 }

 .email2 {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .localizacion2 {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .estilo2 {
    background-color: rgb(248, 247, 248);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .logoimagen {
   background-color: rgb(172, 215, 243);
    font-size: 1.25rem;
     font-palette: black;
     width: 250px;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    display: block; 
 }

 .nombre3 {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }

  .contacto {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }

  .estilos {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }

  .Opiniones {
    background-color: rgb(172, 215, 243);
     font-size: 1.25rem;
      font-palette: black;
      width: 250px;
     margin: 10px;
     padding: 20px;
     margin-left: 50px;
     display: block; 
  }


.iniciarchat {
    font-size: 1.25rem;
    font-palette: black;
    background-color: #c5abe2;
}

.pregunta {
    background-color: rgb(238, 200, 200);
    font-size: 1.25rem;
     font-palette: black;
     width: 400px;
    margin: 10px;
    padding: 10px;
    margin-left: 200px;
    margin-top: 30px;
    display: block;
}

.respuesta {
    background-color: rgb(200, 224, 238);
    font-size: 1.25rem;
     font-palette: black;
     width: 700px;
    margin: 10px;
    padding: 20px;
    margin-left: 200px;
    display: block;

}